Hello Fellow Devs!

This will be my portfolio site that I will continue to update to showcase my skills. It contains links to my Github, Linkedin and a copy of my Resume. 
This website will also be used for my COP4813 Web Systems I Class at Daytona State College. 



What I used:
    - HTML, CSS, JS.
    - Git for version control.
    - GoDaddy for hosting. 








Happy Coding,
    Dan Santiago