h1 {
    text-align: center;
}

button {
    font-size: 20pt;
    display: block;
    text-align: center;
    align-items: center;
    padding: 1px;
    margin-top: 5%;
    margin-left: 47%;
    background-color: blue;
    color: blanchedalmond;
}

button:hover {
    text-align: center;
    background-color: aliceblue;
    color: black;
}

canvas {
    display: block;
    margin-top: 5%;
    margin-left: 36%;
}

