body {
    background-color: #0e0816;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dfdd;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e0816;
    color: #e2dfdd;
}

nav {
    position: aboslute;
    background-color: #4717f6;
    overflow: hidden;
    z-index: -1000;
}

nav a {
    float: left;
    display: block;
    color: #e2dfdd;
    text-align: center;
    padding: auto;
    text-decoration: double;
    font-size: 17px;
    margin-left: 20px;
}

nav a:hover {
    background-color: #4717f6;
    color: #a239ca;
}

nav a.active {
    background-color: #4717f6;
    color: #a239ca;
    ;
}

nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #e2dfdd;
    padding: auto;
    background-color: inherit;
    font-family: inherit;
    margin-left: 20px;
    float: left;
}

nav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: #4717f6;
    display: block;
    color: #a239ca;
}

button {
    overflow: hidden;
    background-color: #4717f6;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dfdd;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4717f6;
    color: #e2dfdd;
    margin-bottom: 10px;
}

.dropdown-content a {
    color: #e2dfdd;
    text-decoration: none;
    display: flex;
    text-align: left;
    position: relative;
    
}
.dropdown-content a:hover {
    background-color: #4717f6;
    color: #a239ca;
}

.show {
    display: block;
}
section{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;

}
section p {
    text-align: center;
    bottom: 120px;
    right: 650px;
    width: 500px;
    border: 2px solid #4717f6;
    background-color: #0e0816;
    color: #e2dfdd;
}


.CodeBlock {
    height: 600px;
    margin-left: 35%;
    margin-right: auto;

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background-color: #0e0816;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dfdd
}