body {
    background-color: #0e0816;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dfdd;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e0816;
    color: #e2dfdd;
}

nav {
    background-color: #4717f6;
    overflow: hidden;
    z-index: -1000;
}

nav a {
    float: left;
    display: block;
    color: #e2dfdd;
    text-align: center;
    padding: inherit;
    text-decoration: double;
    font-size: 17px;
    margin-left: 20px;
}

nav a:hover {
    background-color: #4717f6;
    color: #a239ca;
}

nav a.active {
    background-color: #4717f6;
    color: #a239ca;
    ;
}

nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #e2dfdd;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    margin-left: 20px;
    float: left;
}

nav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: #4717f6;
    display: block;
    color: #a239ca;
}

button {
    overflow: hidden;
    background-color: #4717f6;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2dfdd;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4717f6;
    color: #e2dfdd;
    margin-bottom: 10px;
    margin-right: 10px;
}

.dropdown-content a {
    color: #e2dfdd;
    text-decoration: none;
    display: flex;
    text-align: left;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #4717f6;
    color: #a239ca;
}

.show {
    display: block;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
}

article p {
    text-align: center;
    font-weight: bold;
    bottom: 120px;
    right: 650px;
    width: 500px;
    border: 2px solid #4717f6;
    background-color: #0e0816;
    color: #e2dfdd;
}

.CodeBlock {
    height: 600px;
    width: 700px;
    margin-left: 20%;
    margin-right: 35%;
    margin-top: 3%;
}

.Brief-Insight {
    Margin: 40px;
}

.links {
    display: flexbox;
}

h3 {
    text-align: center;
}

img {
    align-items: center;
    width: 33.33%;
    padding: 5px;
}

.Linkedin-Logo:hover {
    transform: scale(1.2);
}

.Github-Logo:hover {
    transform: scale(1.2);
}

.Linkedin-Logo {
    height: 90px;
    width: 90px;
}