h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color:blueviolet;
    overflow: hidden;    
}

nav a {
    float: left;
    display: block;
    color:aliceblue;
    text-align: center;
    padding: auto;
    text-decoration: double;
    font-size: 17px;
    margin-left: 20px;
}
nav a:hover {
    background-color: rgb(255, 253, 253);
    color: darkblue;
}

nav a.active{
    background-color: #04AA6D;
    color: white;
}
nav .icon{
    display: none;
}

section {
    text-align: center;
    position:fixed;
    bottom: 700px;
    right: 1300px;
    width: 500px;
    border: 2px solid blue;
}

p {
    text-align: left;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    border: 1px solid blue;
    position: relative; 
    size: 500px;  
}